.certBack1 {
    height: 7.9in;
    width: 11in;
    background-image: url("images/certBack1.png") !important;
    background-size: 11in 7.9in;
}

.certBack2 {
    height: 7.9in;
    width: 11in;
    background-image: url("images/Cert3-ColorMedal.jpg") !important;
    background-size: 11in 7.9in;
}

.certBack3 {
    height: 7.9in;
    width: 11in;
    background-image: url("images/Cert2-BlackFormat.jpg") !important;
    background-size: 11in 7.9in;
}

.certBackImg {
    height: 7.9in;
    width: 11in;
    position: absolute;
    -webkit-print-color-adjust: exact;
}

.fields {
    font-size: 16px;
    font-weight: bold;
}

.box {
    height: 800px;
    width: 1000px;
    position: center;
    margin-left: 2.5vw;
}

.titleCont {
    width: 600px;
    height: 110px;
}

.line2 {
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-style: italic;
    margin-left: 450px;
    margin-top: 65px;
}

.line3 {
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-style: italic;
    margin-left: 471px;
    margin-top: 140px;
}

.line4 {
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-style: italic;
    margin-left: 520px;
    margin-top: 240px;
}

.line5 {
    font-size:15px;
    font-style: italic;
    text-align: center;
    position: absolute;
    margin-left: 625px;
    margin-top: 460px;
    width:400px;
    word-wrap: break-spaces;
}
.line6 {
    font-size:12px;
    font-style: italic;
    text-align: center;
    position: absolute;
    margin-left: 625px;
    margin-top: 502px;
    width:400px;
}

.title1edit {
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 238px;
    width: 585px;
    max-height: 110px;
}

.title2edit {
    color: #0B1074;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 236px;
    width: 588px;
    margin-top: 190px;
}

.title3 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    word-wrap: break-spaces;
    width: 550px;
    margin-left: 255px;
    margin-top: 70px;
}

.title32 {
    font-size:20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    word-wrap: break-spaces;
    width: 250px;
    margin-top: 285px;
    margin-left: 405px;
}

.title3edit {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 240px;
    width: 580px;
    margin-top: 70px;
}

.title3edit2 {
    font-size:20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    word-wrap: break-spaces;
    margin-top: 285px;
    width: 575px;
    margin-left: 243px;
}


.title4edit {
    font-size:20px;
    font-style: italic;
    text-align: center;
    position: absolute;
    margin-left: 645px;
    margin-top: 485px;
    width:358px;
    border-width: 1px;
    border-style: inset;
    border-top: black;
    border-left: black;
    border-right: black;
}

.deptEdit {
    font-size:12px;
    font-style: italic;
    text-align: center;
    position: absolute;
    margin-left: 675px;
    margin-top: 520px;
    width:300px;
    word-wrap: break-spaces;
}

.details {
    color: #666666;
    font-size:14px;
    width:500px;
    height:75px;
    background-color: #efefef;
    border: solid 1px #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
}

.detailsEdit {
    font-size:14px;
    width:250px;
    word-wrap: break-spaces;
    position: absolute;
    margin-left: 75px;
    margin-top: 410px;
    margin-bottom: 5px;
}

.detailsHead {
    font-size:14px;
    font-weight: bold;
    width:250px;
    word-wrap: break-spaces;
    position: absolute;
    margin-left: 75px;
    margin-top: 385px;
    margin-bottom: 5px;
}

#outer {
    height: 250px;
    width: 250px
}

.compCerts {
    font-size: 25px;
    font-weight: bold;
}

.text-muted {
    font-size: 30px;
}

.link1 {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 20px;
}

.table-hover {
    background-color: #efefef;
}

.header {
    font-weight: bold;
    font-size: 30px;
}

.instructions {
    font-size: 16px;
    word-wrap: break-spaces;
    max-width: 750px;
}

.form-control {
    min-width: 500px;
    margin-bottom: 5px;
    background-color: #efefef;
}

.inputs {
    font-weight: normal;
}

.lineBreak {
    font-weight: bold;
    margin-left: 2.5vw;
    margin-top: 80px;
    margin-bottom: 20px
}

.hr {
    display: block;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 2.5vw;
    width: 10.35in;
    color: #aaaaaa;
    border-style: inset;
    border-width: 1px;
}

.noCertPic {
    height: 100%;
    width: 100%;
}

.breakText {
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}

.lineBreak2 {
    font-weight: bold;
    color: #aaaaaa;
}

.preview {
    font-size: 16px;
    font-weight: bold;
    position: center;
}

.printButton {
    margin-left: 1vw;
}

.btn-success {
    margin-left: 5px;
    margin-bottom: 10px
}

.dropdown {
    margin-bottom: 5px;
}